@font-face {
    font-family: "Grotta-Med";
    src: url(./font/Grotta-Regular.otf);
}

@font-face {
    font-family: "Grotta-Bold";
    src: url(./font/Grotta-Semibold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.menu {
    width: 100vw;
    height: 100vh;
}

.section-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.title {
    margin: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Grotta-Bold";
    font-size: 30px;
    border-bottom: 1px solid black;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
}

.filter-btn {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Grotta-Med";
}

.filter-btn:hover {
    background-color: rgba(255, 166, 0, 0.404);
}

.active {
    background-color: rgba(255, 166, 0, 0.404);
}

.menu-item {
    display: flex;
    max-height: 200px;
}

.menu-item .photo {
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    object-position: center;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid orange;
}

.item-info {
    max-width: 300px;
    padding: 0 15px;
}

.item-info header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #3a3737;
}

.item-name,
.price {
    font-family: "Grotta-Bold";
}

.item-text {
    margin-top: 10px;
    min-width: 150px;
    font-family: "Grotta-Med";
    text-overflow: ellipsis;
}

@media screen and (max-width: 1058px) {
    .section-center {
        align-items: center;
        justify-content: center;
    }

    .item-info header {
        padding-top: 10px;
    }

    .title h2 {
        font-size: 30px;
    }

    .btn-container {
        gap: 5px;
    }

    .filter-btn {
        padding: 5px 10px;
    }
}